
<div class="ui menu">
    
      <h2 >Coronavirus COVID-19 Global Pandemic</h2>
  
  
  
  </div>

<div class="ui grid stackable">
    <div class="three wide column" id="column">
        <app-total-confirmed></app-total-confirmed>
        <br>
       
        
    </div>
    <div class="six wide column">
        <app-map></app-map>
    </div>
    <div class="three wide column">
        <app-total-recoverd></app-total-recoverd>
    </div>
    <div class="three wide column">
        <app-total-death></app-total-death>
    </div>
    
</div>
